# ============================================
# BASE_URL
# ============================================
VITE_BASE_URL=

# ============================================
# USE_MOCK_DATA
# ============================================
VITE_USE_MOCK=